#video {
	width: 928px;
	height: 522px;
}
.body-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20rem;

	img {
		width: 75%;
	}

	.body-text-content {
		width: 43%;
		font-size: 30px;
		font-weight: 300;
		line-height: 1.8em;
	}
	#video {
		width: 100%;
	}
}
