@import "../../global.scss";

ul {
	padding: 0;
	li {
		text-decoration: none;
	}
}

.header {
	font-family: "Lato", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	padding: 50px 0 0;

	.header-content {
		width: 90%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;

		@include mobile {
			flex-direction: column;
			margin-left: 100px;
		}
	}
}

.sub-section {
	@include mobile {
		margin-bottom: 50px;
	}
	.item {
		padding-top: 1em;
		position: relative;
	}

	.text-content {
		font-size: 16px;
		line-height: 2.2em;
		letter-spacing: 1.1px;
		font-weight: 300;
		@include mobile {
			font-size: 12px;
		}
	}

	&.left {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		width: 550px;
		gap: 10%;
		padding-top: 5px;

		@include mobile {
			justify-content: flex-start;
		}

		.title {
			font-size: 14px;
			padding-bottom: 1.2em;
			text-transform: uppercase;
			letter-spacing: 1.8px;
			font-weight: 600;
		}
	}

	.row-second {
		ul {
			padding: 0;
			list-style: none;
			li {
				text-decoration: none;
			}
		}
	}

	&.right {
		margin-top: -5px;
		position: relative;
		width: 60%;

		@include desktop {
			width: 70%;
		}

		@include mobile {
			width: 80%;
		}

		.title {
			font-weight: 500;
			text-transform: lowercase;
			font-size: 45px;
			line-height: 1.2em;
			margin-top: 10px;
			margin-bottom: 20px;
			letter-spacing: 1.2px;

			@include desktop {
				font-size: 35px;
			}

			@include mobile {
				font-size: 28px;
				margin: 20px 0;
			}
		}

		.icons {
			padding: 20px 0;
			width: 50%;
			display: flex;
			justify-content: space-between;

			@include desktop {
				width: 80%;
			}

			@include mobile {
				margin: 20px 0;
				width: 100%;
			}

			.icon {
				width: 35px;
				box-shadow: 0 6px 13px -7px rgb(73 71 71 / 50%);
			}
		}

		.content-container {
			width: 80%;

			@include mobile {
				width: 100%;
			}

			.text-content {
				margin-bottom: 3rem;
			}

			.links {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 20px;

				.link-item {
					display: flex;
					align-self: flex-end;
					justify-content: flex-start;
					align-items: center;
					padding-bottom: 10px;
					width: 120px;

					@include mobile {
						margin-top: 0;
						float: none;
						justify-content: flex-start;
						font-size: 14px;
					}

					a {
						margin-right: 5px;
						font-size: 14px;
						letter-spacing: 1.3px;
						font-weight: 500;
						text-decoration: none;
						color: black;
					}
					img {
						width: 20px;
						transition: 0.1s ease-in-out;

						@include mobile {
							width: 15px;
						}
					}

					&:hover {
						a {
							color: #54b3d6;
							font-weight: 400;
						}

						img {
							transform: rotate(90deg) translateY(-5px);
						}
					}
				}
			}
		}
	}
}
