.project-body {
	width: 100%;
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15rem;
	padding: 20px 0;
}

.bodyBanner {
	width: 100%;

	img {
		width: 100%;
	}
}
