footer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 200px;
	gap: 10px;
	margin-bottom: 50px;

	z-index: 2;

	img {
		width: 40px;
		cursor: pointer;
		border-radius: 100%;

		&:hover {
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			transform: translateY(-4px);
		}

		&:active {
			transform: translateY(0);
		}
	}
}
