ul {
	padding: 0;
	li {
		text-decoration: none;
	}
}

.header {
	width: 80%;
	margin: 0 auto;
	font-family: "Lato", sans-serif;
	padding: calc(18vh - 50px) 18vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5%;

	.header-content {
		width: 1040px;
		position: relative;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		height: 410px;
	}
}

.sub-section {
	.item {
		padding-top: 1em;
		position: relative;
	}

	.text-content {
		font-size: 18px;
		line-height: 1.9em;
		letter-spacing: 1.1px;
		font-weight: 300;
	}

	&.left {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 26%;
		padding-top: 5px;
		position: relative;

		.title {
			font-size: 12px;
			padding-bottom: 1.2em;
			text-transform: uppercase;
			letter-spacing: 1.2px;
			font-weight: 600;
		}
	}

	#tools {
		position: absolute;

		.icons {
			margin: 0;
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding-bottom: 10px;

			img {
				box-shadow: 0 6px 13px -7px rgba(73, 71, 71, 0.5);
				width: 35px;
				overflow: visible;
			}
		}
	}

	.row-second {
		ul {
			padding: 0;
			list-style: none;
			li {
				text-decoration: none;
			}
		}
	}

	&.right {
		width: 60%;
		margin-top: -5px;
		position: relative;

		.title {
			font-weight: 600;
			font-size: 42px;
			line-height: 1.2em;
			// letter-spacing: 1px;
			margin-top: 10px;
			margin-bottom: 1em;

			span {
				font-weight: 300;
				color: gray;
			}
		}

		.text-content {
			// text-align: justify;
			margin-bottom: 3rem;
		}

		.siteLink {
			float: right;
			margin-top: 20px;
			width: 110px;

			a {
				margin-right: 20px;
				text-decoration: none;
				color: black;
				&:hover {
					color: blue;
					font-size: 17px;
				}
			}
		}
		img {
			width: 5px;
			height: 10px;
		}
	}
}
