@import "../../global.scss";

.about {
	font-family: "Roboto", "san-serif";
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	position: relative;
	top: 100px;
	gap: 50px;
	@include mobile {
		flex-direction: column;
	}

	.about-item {
		&.left {
			width: 70%;
			padding-top: 60px;
			img {
				width: 100%;
				border-radius: 15px;
			}
		}

		&.right {
			width: 70%;

			.large {
				font-size: 40px;
				font-weight: 600;
				line-height: 150%;
				@include desktop {
					font-size: 24px;
				}
			}
			.sub-text {
				font-size: 22px;
				line-height: 150%;
				padding: 20px 0;
				font-weight: 300;
				color: rgb(27, 27, 27);
				@include desktop {
					font-size: 18px;
				}

				.reel {
					text-decoration: underline;
					padding-left: 5px;
					color: rgb(12, 12, 12);
					&:hover {
						color: lightblue;
					}
				}
			}
		}
	}
}
