@import "../../global.scss";
.sections {
	width: 100%;
	font-family: "Roboto", san-serif;
	scroll-behavior: smooth;
	position: relative;
	top: 100px;
	overflow-x: hidden;

	> * {
		width: 100vw;
		height: calc(100vh - 80px);
		scroll-snap-align: start;
	}

	.contact {
		@include mobile {
			height: 40vh;
			margin-top: 100px;
		}
	}

	.work {
		@include mobile {
			height: 100%;
			margin-bottom: 100px;
		}
	}
}
