@import "../../global.scss";

.container {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	@include mobile {
		width: 80vw;
	}

	.item {
		width: 55%;
		height: 500px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		cursor: pointer;

		@include desktop {
			width: 500px;
		}
		@include mobile {
			width: 80%;
			height: 100%;
			padding: 20px 10px 0 10px;
			flex-direction: column;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			border-radius: 15px;
			overflow: hidden;
		}

		.bg-circle {
			width: 450px;
			height: 450px;
			position: absolute;
			right: 0;
			left: 0;
			margin: 0 auto;
			z-index: 0;
			border-radius: 50%;
			background-color: #a5d1de64;

			@include desktop {
				width: 325px;
				height: 325px;
			}
			@include mobile {
				display: none;
			}
		}
	}

	.left {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		z-index: 1;

		@include mobile {
			order: 2;
			width: 100%;
		}

		.text-content {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			@include mobile {
				flex-direction: row;
				position: absolute;
				justify-content: space-between;
				align-items: center;
				top: 20px;
				width: 90%;
			}

			.title {
				overflow: auto;
				display: flex;
				flex-direction: column;
				font-size: 55px;
				letter-spacing: 1px;
				font-weight: 500;

				@include desktop {
					font-size: 40px;
				}

				@include mobile {
					font-size: 14px;
					font-weight: 400;
				}

				> * {
					display: inline;
				}
			}
			.sub-title {
				padding: 25px 0 20px;
				font-weight: 200;
				font-size: 16px;
				display: block;
				@include mobile {
					display: none;
				}

				.type {
					text-transform: uppercase;
					margin: 0 0 5px 0;
				}
			}

			.project-link {
				text-decoration: none;
				color: black;
				font-size: 14px;
				letter-spacing: 1.2;
				width: 100px;
				cursor: pointer;

				&:hover {
					color: underline #54b3d69a;
				}

				@include mobile {
					opacity: 0;
				}
			}
		}
	}
	.right {
		z-index: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;

		@include mobile {
			width: 100%;
			flex-direction: column;
			justify-content: center;
		}

		.project-img {
			width: 550px;
			position: relative;
			z-index: 1;
			@include desktop {
				width: 350px;
			}
		}
	}
}

@include mobile {
	#mobile-img-0 {
		width: 120%;
		left: 30%;
		bottom: -30px;
	}

	#mobile-img-1 {
		width: 150%;
		left: 0;
		bottom: -50px;
	}

	#mobile-img-2 {
		width: 150%;
		right: 0%;
		bottom: -60px;
		transform: rotate(30deg);
	}
	#mobile-img-3 {
		width: 120%;
		left: 30%;
		margin-bottom: 20px;
		bottom: -40px;
	}
}
