@import "../../global.scss";

.work {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.arrow {
		height: 30px;
		position: absolute;
		z-index: 2;
		cursor: pointer;
		@include mobile {
			display: none;
		}

		&.left {
			left: 100px;
			&:active {
				transform: translateY(4px);
			}
		}

		&.right {
			right: 100px;
			&:active {
				transform: translateY(4px);
			}
		}
	}

	.slider {
		height: 100%;
		display: flex;
		position: absolute;
		left: 0;
		transition: all 1s ease;

		@include mobile {
			position: relative;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 50px;
			padding-top: 50px;
		}
	}
}
