.work {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.arrow {
		height: 30px;
		position: absolute;
		z-index: 2;
		cursor: pointer;

		&.left {
			left: 100px;
			transform: rotateY(180deg);
		}

		&.right {
			right: 110px;
		}
	}

	.slider {
		height: 100%;
		display: flex;
		position: absolute;
		left: 0;
		transition: all 1s ease;

		.container {
			width: 100vw;

			display: flex;
			align-items: center;
			justify-content: center;

			.item {
				width: 40%;
				min-width: 750px;
				height: 90%;
				display: flex;
				align-items: center;
				justify-content: space-around;
				position: relative;

				.bg-circle {
					width: 400px;
					height: 400px;
					border-radius: 50%;
					position: absolute;

					&.blue {
						background-color: #d3dee5;
					}

					&.green {
						background-color: #61aaa6;
					}
					&.darkBlue {
						background-color: rgba(0, 4, 250, 0.281);
					}
				}

				.left {
					width: 100%;
					display: flex;
					flex-direction: column;
					z-index: 1;

					.title {
						font-size: 60px;
						letter-spacing: 1px;
						font-weight: 500;
					}
					.sub-title {
						padding: 25px 0 20px;
						font-weight: 200;
						font-size: 16px;

						.type {
							text-transform: uppercase;
							margin: 0 0 5px 0;
						}
					}

					.project-link {
						text-decoration: none;
						color: black;
						font-size: 14px;
						letter-spacing: 1.2;
						cursor: pointer;
					}
				}
				.right {
					z-index: 1;
					position: absolute;
					width: 500px;
					right: 0;

					.project-img {
						padding: 20px 0 0 0;
						width: 100%;
						margin-top: 40px;
					}
				}
			}
		}
	}
}
