.work {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.arrow {
		height: 30px;
		position: absolute;
		z-index: 2;
		cursor: pointer;

		&.left {
			left: 10%;
			&:active {
				transform: translateY(4px);
			}
		}

		&.right {
			right: 10%;
			&:active {
				transform: translateY(4px);
			}
		}
	}

	.slider {
		height: 100%;
		display: flex;
		position: absolute;
		left: 0;
		transition: all 1s ease;

		.container {
			width: 100vw;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			.item {
				width: 50%;
				height: 500px;
				display: flex;
				align-items: center;
				justify-content: space-around;
				position: relative;

				.bg-circle {
					width: 475px;
					height: 475px;
					border-radius: 50%;
					position: absolute;
					background-color: #a5d1de64;
					bottom: 40px;
					z-index: 0;
				}

				.left {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 35%;
					z-index: 1;

					.text-content {
						display: flex;
						flex-direction: column;
						justify-content: flex-start;

						.title {
							font-size: 60px;
							letter-spacing: 1px;
							font-weight: 500;
						}
						.sub-title {
							padding: 25px 0 20px;
							font-weight: 200;
							font-size: 16px;

							.type {
								text-transform: uppercase;
								margin: 0 0 5px 0;
							}
						}

						.project-link {
							text-decoration: none;
							color: black;
							font-size: 14px;
							letter-spacing: 1.2;
							width: 100px;
							height: 30px;
							cursor: pointer;
							&:hover {
								font-size: 15px;
							}
						}
					}
				}
				.right {
					z-index: 0;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					width: 65%;

					.project-img {
						width: 100%;
						position: relative;
						z-index: 1;
					}
				}
			}
		}
	}
}
