.nav {
	width: 100%;
	height: 80px;
	background-color: white;
	color: black;
	position: fixed;
	top: 0;
	z-index: 3;
	transition: all 1s ease;

	.wrapper {
		padding: 20px 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;

		.left {
			display: flex;
			align-items: center;
			position: relative;

			.logo {
				font-size: 16px;
				font-weight: 500;
				letter-spacing: 5px;
				text-decoration: none;
				text-transform: uppercase;
				color: inherit;
				margin: 0 auto;
				padding-bottom: 5px;
			}

			div {
				position: absolute;
				width: 100%;
				height: 4px;
				bottom: 0;
				left: 0;
				background-color: #54b3d69a;
				transform-origin: bottom right;
				transition: transform 0.25s ease-out;
			}

			&:hover div {
				transform: scale(0);
				transform-origin: bottom left;
			}

			.itemContainer {
				display: flex;
				align-items: center;
				margin-left: 30px;

				.icon {
					font-size: 18px;
					margin-right: 5px;
				}

				span {
					font-size: 15px;
					font-weight: 500;
				}
			}
		}

		.right {
			.hamburger {
				width: 32px;
				height: 25px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				cursor: pointer;
				padding: 7px 3px 7px 11px;
				border-radius: 5px;

				span {
					width: 100%;
					height: 3px;
					background-color: black;
					transform-origin: left;
					transition: all 1s ease;
				}
			}
		}
	}

	&.active {
		background-color: rgba(180, 180, 180, 0.245);

		.hamburger {
			text-align: center;
			background-color: rgba(211, 211, 211, 0.519);
			span {
				&:first-child {
					background-color: white;
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					background-color: white;
					transform: rotate(-45deg);
				}

				&:hover {
					background-color: none;
				}
			}
		}
	}
}
