ul {
	li {
		p {
			text-decoration: none;
			box-shadow: inset 0 0 0 0 #54b3d6;
			color: #ffffff;
			margin: 0 -0.25rem;
			padding: 0.25rem 0.75rem;
			transition: color 0.3s 0.2s ease-in-out, box-shadow 0.3s 0.2s ease-in-out;
			cursor: pointer;
		}
	}
}

#a {
	p {
		&:hover {
			box-shadow: inset 240px 0 0 0 #54b3d69a;
			color: white;
		}
	}
}

#b {
	p {
		&:hover {
			box-shadow: inset 165px 0 0 0 #54b3d69a;
			color: white;
		}
	}
}

#c {
	p {
		&:hover {
			box-shadow: inset 170px 0 0 0 #54b3d69a;
			color: white;
		}
	}
}

#d {
	p {
		&:hover {
			box-shadow: inset 230px 0 0 0 #54b3d69a;
			color: white;
		}
	}
}
